body{
	background-color: #ddd;
}
.bg-nav{
	background: #1A2980;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #26D0CE, #1A2980);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #26D0CE, #1A2980); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

nav a{
	color: white;
}

nav ul{
	display: inline;
	color: white;
}

nav ul li{
	display: inline-block;
	margin-left: 40px;
	margin-top: 5px;
	font-size: 20px;
}

nav ul li a:hover{
	color: yellow;
	text-decoration: none;
}